<footer class="footer" id="footer">
    <p class="footer__text">&copy; {{year}} Big Problem</p>
    <p class="footer__text" id="footer-elapsed-time">
        Client / Server load time: ??ms / {{serverElapsedTime}}ms
    </p>
</footer>