<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head}}
</head>
<body class="layout">
    {{> header}}

    <div class="center">
        <main class="main">
            <div class="main__content">
                {{{body}}}
            </div>

            <div class="main__sidebar">
                {{#block "sidebarActions"}}
                {{/block}}
                {{> leaderboard}}
            </div>
        </main>
    </div>

    {{> footer}}
</body>
</html> 